#topbox {
    display: inline-block;
    background-color: #535353;
    width: 100%;
    font-family: helvetica;
    box-shadow: 10px 10px 10px #888888;
}

h1#classtitle{
    color: white;
    font-size: 15px;
    font-family: helvetica;
    padding-left: 10px;
}

h1#classtitle a {
    color: white;
}

h1{
    font-family: helvetica;
    /*padding-left: 25px; */
    
}

a {
    color: black;
}

p {
    font-family: helvetica;
}

span.greenDot {
    float: left;
    padding-right: 10px;
    color: #535353;
}
nav#mainMenu li {
    display: inline;
    width: 100%;
    color: white;
    padding-left: 50px;
}

nav#mainMenu {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

#mainMenu a {
    text-decoration: none;
    width: 100%;
    color: white;
}

aside#studentInfo {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 14px;
}

figure.img-right.small {
    position: relative;
    float: right;
    width:45%;
    height:50%;
}

body {
    font: helvetica;
    margin: 0px;
    overflow-x: hidden;
    background-color: #efede3;
}


/*Assignments*/

ol.AssignmentsLink {
    font-family: helvetica;
}

h2 {
    font-family: helvetica;
    padding-left: 25px;
}

li.title.summary {
    font-family: helvetica;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: ridge;
}


/*Schedule*/
table{
    border-collapse: collapse;
}
#vcalendar tr:hover{background-color:#f5f5f5}
   
article#mainContent {
    margin: 50px;
}

table#vcalendar {
    font-family: helvetica;
    padding: 25px;
    padding-top: 5px;
}

tr td {
    border-style: ridge;
}


/*Syllabus*/

p{
    padding-left:2%;
}
article p {
   /* padding: 25px; Don't need this */
}
h1, h2, h3{
    font-family:helvetica;
    padding-left:1%;
}

#syllabus #mainContent h1 {
    border-bottom-style: ridge;
}

#syllabus h2 {
    border-bottom-style: ridge;
}

#syllabus th {
    padding-top: 15px;
}

div.flexbox-column-three {
    margin-left: 25px;
}
table#grading{
    margin-left: 25px;
}
table{
    padding-left:2%;
}

footer {
    /*padding-left: 15px;*/
    font-weight:bold;
}

figcaption{
    font-weight:bold;
    font-style:italic;
    font-size:150%;
    text-align:center;
}

/*Sick*/


form#callInSick {
    width: 50%;
    margin-left: 25px;
}

aside.attendanceRecord table {
    margin-left: 25px;
}
/*Resources*/

li.link {
    padding: 25px;
    padding-bottom: 40px;
    padding-top: 40px;
}


li.video {
    padding: 25px;
    padding-bottom: 40px;
    padding-top: 45px;
}
aside#otherMedia {
    padding-left: 25px;
    font-family: helvetica;
    -webkit-columns: 300px 2; /* we have to use firefox, this is for chrome */
    column-count:2;           /* this will work for firefox */
    -moz-column-count:2;
    -webkit-column-count: 2;
}

/*Submit Assignment*/

div.step {
    margin-left: 25px;
}

/* This will get rid of the menu that Bob's screen has */
.specialLink{
    display:none;
}

/* Grades */

span.hypoGrade.grade{
    padding-left:2%;
}

div#possibleGrade{
    padding-left:2%;
}
