#topbox {
    display: inline-block;
    background-color: #535353;
    width: 100%;
    font-family: helvetica;
    box-shadow: 10px 10px 10px #888888;
}

h1#classtitle{
    color: white;
    font-size: 15px;
    font-family: helvetica;
    padding-left: 10px;
}

h1#classtitle a {
    color: white;
}

h1 {
    font-family: helvetica;
    padding-left: 25px;
}

a {
    color: black;
}

p {
    font-family: helvetica;
}

span.greenDot {
    float: left;
    padding-right: 10px;
    color: #535353;
}
nav#mainMenu li {
    display: inline;
    width: 100%;
    color: white;
    padding-left: 50px;
}

nav#mainMenu {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

#mainMenu a {
    text-decoration: none;
    width: 100%;
    color: white;
}

aside#studentInfo {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 14px;
}

figure.img-right.small {
    position: relative;
    float: right;
    right: 0;
    size: 50%;
}

body {
    font: helvetica;
    margin: 0px;
    overflow-x: hidden;
    background-color: #efede3;
}


//Assignments

#assignments {
    background-color: #cd9a00;
}

ol.AssignmentsLink {
    font-family: helvetica;
}

h2 {
    font-family: helvetica;
    padding-left: 25px;
}

li.title.summary {
    font-family: helvetica;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-style: ridge;
}

<!--Assignments-->

li.title.summary {
    font-family: helvetica;
}


<!--Schedule-->
table{
    border-collapse: collapse;
}
tr:hover{background-color:#f5f5f5}
   
article#mainContent {
    margin: 50px;
}

table#vcalendar {
    font-family: helvetica;
    padding: 25px;
    padding-top: 5px;
}

tr td {
    border-style: ridge;
}


<!--Syllabus-->

article p {
    padding: 25px;
}

footer {
    padding-left: 15px;
}


<!--Sick-->

aside.attendanceRecord {
    margin: 25px;
}
